.header {
     background-color: #3685ff;
     height: 70px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

.header .navMenu {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.header .navMenu .active {
    color: hotpink;
    border-bottom: 1px solid hotpink;
}

.header .navMenu a {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    color: white;
 }