

.container {
    display: flex;
    align-items: center;
    h3 {
        padding-right: 10px;
    }
    .arrow {
        margin: 0 10px;
        height: 24px;
    }
    .button {
        background-color: #3685ff;
        border-radius: 3px;
        border: none;
        color: white;
        cursor: pointer;
        margin-right: 5px;
        height: 24px;
        outline: none;
    }
    span {
        padding: 0 10px 0 5px;
    }
}