.errorBlock {
    width: 300px;
    height: 150px;
    box-shadow: 0 0 10px black ;
    border: 6px double dodgerblue;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        color:red;
    }
}