

.headers {
    height: 60px;
    display: flex;
    justify-content: space-around;
    border-bottom: 6px double #ff4776;
    align-items: center;
    font-weight: bolder;

    span {
        width: 200px;
    }

    button {
        margin: 0 90px;
    }
}

