
.rows {
    .row, & .buttonColumn {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    span {
        width: 200px;
        text-align: center;

        a {
            text-decoration: none;
            color: #3685FF;
            font-weight: 500;

            &:hover {
                color: hotpink;
            }
        }
    }

    .buttonColumn {
        grid-template-columns: 1fr 1fr;
        width: 300px;
    }
}

